
<footer>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h5><strong>Site haritası.</strong></h5>
            <hr />
            <p>

                <a href="#">Hakkımızda</a> <br />

                <a href="#">En Beğenilenler</a><br />

                <a href="#">Son Yazılar</a>

            </p>
        </div>
        <div class="col-lg-4 text-center">
            <h5>
                <strong>MyNote</strong>
            </h5>
            <p>Copyright &copy; myNote @DateTime.Now.Year</p>
        </div>
        <div class="col-lg-4 text-center">
            <h5>
                <strong>E-bülten</strong>
            </h5>


            <div class="col-md-12">
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                <div class="input-group">
                    <input type="text" placeholder="email adresiniz" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-send"></span> Kaydet
                        </button>
                    </span>
                </div>

            </div>



        </div>
    </div>
</footer>